<section id="userBookings">
    <h1 class="page-title">My Bookings</h1>
    <div class="row">
        <ng-container *ngIf="bookings && bookings.length > 0"> <!-- Check for bookings length -->
            <div class="col-md-4" *ngFor="let booking of bookings"> <!-- Iterate bookings here -->
                <div class="card text-center">
                    <div class="card-header">
                        {{booking.tmer ? booking.tmer.category : 'Deleted Tmer'}}
                    </div>
                    <div class="card-block">
                        <ng-container *ngIf="booking.tmer">
                            <h4 class="card-title">{{booking.tmer.title}} - {{booking.tmer.city | ucwords}} </h4>
                            <p class="card-text booking-desc">{{booking.tmer.description}}</p>
                        </ng-container>
                        <p class="card-text booking-days"> {{booking.startAt | formatDate}} - {{booking.endAt | formatDate}} | {{booking.days}} days</p>
                        
                        <p class="card-text "><span>Price: </span> <span class="booking-price-value">
                             {{booking.totalPrice}}  $</span></p> 
                        <a *ngIf="booking.tmer" class="btn btn-bwm" routerLink="/tmers/{{booking.tmer._id}}">Go to Tmer</a> 
                    </div>
                    <div class="card-footer text-muted">
                        Created {{booking.createdAt | formatDate}} 
                    </div>
                </div>
            </div>
        </ng-container>
        <div *ngIf="bookings && bookings.length === 0" class="alert alert-warning"> 
            You have no bookings created go to tmers section and book a person today to speek with.
            <a class="btn btn-bwm" routerLink="/tmers">Available Tmers</a> 
        </div>
    </div>
</section>