<section id="rentalListing">
  <h1 class="page-title">You are in touch, All Around the World</h1>

  <!-- Add filter input -->
  <!-- <div class="filter-container">
    <label for="titleFilter">Filter by Title:</label>
    <input type="text" id="titleFilter" [ngModel]="customTitleFilterGetter"
      (ngModelChange)="customTitleFilterSetter = $event">
  </div> -->

  <div class="row">
    <div class='col-md-3 col-xs-6' *ngFor="let tmer of tmers">

      <app-tmer-list-item [tmer]="tmer"></app-tmer-list-item>
    </div>



  </div>
</section>
